@font-face {
    font-family: javas;
    src: url('helvetica-normal-58f8ea49d7897.ttf');
}
.table-row-cell:selected {
   -fx-background-color: steelblue !important;
   -fx-text-fill: white !important;
}
.root{
    -fx-font-size: 9pt;
	-fx-font-family: javas;
}
.clTotal{
	-fx-alignment: center-right;
	-fx-font-weight:  bold;
}
.clNo{
	-fx-alignment: center;
}
.clCusDate{
	-fx-alignment: center;
}
.clOrderId{
	-fx-alignment: center;
}
.clCusId{
	-fx-alignment: center;
}
.clStatus{
	-fx-alignment: center;
}
.clSku{
	-fx-alignment: center;
}
.clcenter{
	-fx-alignment: center;
}
.clright{
	-fx-alignment: center-right;
}
.clbold{
	-fx-font-weight:  bold;
}
.TextField {
    -fx-border-width: 1;
    -fx-border-color: lightgray;
    -fx-background-insets:1;
    -fx-border-radius:3 0 0 3;
    /*    -fx-border-radius:0 0 0 0;*/
}
.boderblue{
	-fx-border-color: #1f2aee;
}
.underlines{
	-fx-underline: true;
}